.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;

    &-list {
        display: flex;
        align-items: baseline;
    }

    &-logo {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin-bottom: 20px;
    }

    &-address {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #ffffff;
        text-decoration: none;
        transition-duration: 250ms;
        transition-property: color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-contacts {
        font-style: normal;
    }
}

.contacts-list {
    text-decoration: none;
}

.contacts-link {
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list:not(:last-child) {
    margin-bottom: 10px;
}
.contacts-list:hover,
.contacts-list:focus,
.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
