.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;

    &-list {
        display: flex;
        align-items: baseline;
    }

    &-logo {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin-bottom: 20px;
    }

    &-address {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #ffffff;
        text-decoration: none;
        @extend %transition-color;
    }

    &-contacts {
        font-style: normal;
    }
}

.contacts-list {
    text-decoration: none;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.contacts-link {
    @extend %transition-color;
}

.contacts-list,
.footer-address {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
