.header {
    border-top: 1px #ffffff;
    border-bottom: 1px solid #ececec;

    &-logo {
        padding: 24px 0;
    }

    &-line {
        display: flex;
        align-items: center;
    }
}

.header-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--button-color);
    text-decoration: none;
    @extend %transition-color;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
        left: 0;
        @extend %transition-bkg;
    }

    &:hover::after,
    &:focus::after {
        background-color: var(--accent-color);
    }
}
.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--accent-color);
}

.header-link,
.contacts-link {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts-item:hover {
    .header-icon {
        fill: var(--accent-color);
    }
}

.header-list {
    display: flex;

    & .header-link.current {
        color: var(--accent-color);
    }
}
.navigation {
    margin-left: 93px;
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
}
.header-list {
    .header-item + .header-item {
        margin-left: 50px;
    }
}
.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.contacts-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    color: #757575;
}

.header-contacts {
    .contacts-item + .contacts-item {
        margin-left: 30px;
    }
}

.contacts-mail,
.contacts-tel {
    padding-top: 32px;
    padding-bottom: 32px;
}
